* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1.1rem;
}

$color1: hsl(0, 0%, 100%);
$color2: hsl(212, 45%, 89%);
$color3: hsl(220, 15%, 55%);
$color4: hsl(218, 44%, 22%);